<!DOCTYPE html>
<html lang="en">
<head>
    {{ title }}
    <title>{% block title %}{% endblock %}</title>
    <style>
        .error {
            color: red;
        }
        body {
            background: url("https://apod.nasa.gov/apod/image/2106/PaperMoonSolarEclipse_Letian_3000.jpg")
        }
        label {
            display: inline-block;
            width: 120px;
        }
    </style>
{% block head %}{% endblock %}
</head>
<body>
{% if message %}
<div class="error">
    <h1> Something went wrong! </h1>
    <h2> {{ message }} </h2>
</div>
{% endif %}
{% block body %}{% endblock %}
</body>
</html>