{% extends 'base.html' %}

{% block title %}
Login form
{% endblock %}

{% block body %}
<h2> Please, enter your login and password to log in. </h2>
<form method="post">
    <div>
        <ul><label for="login">Login</label> <input name="login" id="login" required></ul>
        <ul><label for="password">Password</label> <input type="password" name="password" id="password" required></ul>
        <ul><input type="submit" value="Login"> </ul>
    </div>
</form>
<hr/>
<p> If you are here for the first time, you may <a href="/signup"> register </a> </p>
{% endblock %}