{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block body %}
{% if user %}
<h1> Welcome, {{ user.name }}! </h1>
<ol>
    <ol>Your login is {{ user.login }}</ol>
    <ol>Your name is {{ user.name }}</ol>
</ol>
<p> If you are bored, you may <a href="/logout"> logout </a>. We will miss you. A lot. </p>
{% else %}
<h1> Welcome to our awesome website! </h1>
<p> Please, either <a href="/signup"> register </a> or <a href="/login"> login </a> </p>
{% endif %}

{% endblock %}